body {
    font-family: Arial, sans-serif;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #df6464;
    padding: 8px;
    text-align: left;
  }
  
  th {
    background-color: #52ccb2;
  }